[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
Flask-SQLAlchemy = "*"
snowflake-connector-python = "*"
pandas = "*"
fastparquet = "*"
gunicorn = "*"
wheel = "*"
unittest2 = "*"
pytest = "*"
gevent = "*"
cffi = "*"

[dev-packages]

[requires]
python_version = "3.9"
